{% extends 'base.html' %}

{% block main %}
<div>

    <h1 class="page-header">Add New Property</h1>
    
    <form action="{{ url_for('add_property') }}" method="post" enctype="multipart/form-data">
        {{ propertyForm.csrf_token }}
        <div class="form-group">
            {{ propertyForm.title.label }}
            {{ propertyForm.title(class_="form-control")  }}
        </div>
        <div>
            {{ propertyForm.description.label }}
            {{ propertyForm.description(class_="form-control")  }}
        </div>
        <div class="form-row">
            <div class="col">
                {{ propertyForm.noBedrooms.label }}
                {{ propertyForm.noBedrooms(class_="form-control")  }}
            </div>
            <div class="col">
                {{ propertyForm.noBathrooms.label }}
                {{ propertyForm.noBathrooms(class_="form-control")  }}
            </div>
        </div>
        <div class="row"> 
            <div class="col">     
                {{ propertyForm.price.label }}
                {{ propertyForm.price(class_="form-control")  }}
            </div>
            <div class="col">     
                {{ propertyForm.propertyType.label }}
                {{ propertyForm.propertyType(class_="form-control")  }}
            </div>
        </div>
        <div>
            {{ propertyForm.location.label }}
            {{ propertyForm.location(class_="form-control")  }} 
        </div>
        <div>
            {{ propertyForm.photoFileName.label }}
            <br>
            {{ propertyForm.photoFileName }}
          </div>
          <br>
          <br>
          <button type="submit" name="submit" class="btn btn-primary btn-color">Add Property</button>
    </form>
</div>
{% endblock %}